.AMQApp
{
	margin-top:1px;
}

textarea{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}
.textareacontainer{
    padding-right: 8px;
}

.small_input_text
{
	width:80px;
}
	
.text_with_crlf
{
	white-space:pre-wrap;
}

.dragClass
{
	cursor:grab;
}

.nodrag
{
	cursor:default;
}

.windowtitle
{
	padding:2px;
	text-align:center;
	background-color:#337ab7;
	color:white;
}
.nomargin
{
	margin-top: 0px;
	margin-bottom: 10px;
}

.smallmargin
{
	margin-top: 3px;
	margin-bottom: 10px;
}

.topright
{
	position:absolute;
	right:10px;
	top:0px;
}

/* LOGIN */

#login
{
	top:30%;
	border:solid 1px black;
	padding:10px;
	position:absolute;
	background-color:white;
	left:50%;
	width:300px;
	margin-left:-150px;
	z-index:200;
	text-align:left;
}

.login_alert
{
	z-index:100;
	position:fixed;
	top:10px;
	left:10px;
	right:10px;
}

.login_footer
{
	width:100%;
	text-align:center;
	padding-top:10px;
}

/* GitHub */

#github
{
	position:absolute;
	bottom:5px;
	right:5px;
	font-weight:9px;
}

/* Version */

#version
{
	position:absolute;
	bottom:5px;
	left:5px;
	font-weight:9px;
	color:#888;
}

/* MAIN VIEW */

#mainView {
	padding-top:5px !important;
	position:absolute;
	top:41px;
	left:3px;
    border-top: 0px solid #008;
	clear:both;
	padding: 0 1em;
	bottom:40px;
	overflow:auto;
	right:3px;

}

#footerView
{
	position:absolute;
	bottom:3px;
	width:100%;
	text-align:center;
}

.filterField
{
	position:absolute;
	top:5px;
	right:5px;
    border: 0px solid black;
	clear:both;
	padding: 0 1em;
	overflow:none;
	z-index:100;
}

.sort-true {
	background-color:#337ab7;
	color:white;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:pointer;
    
}

.sort-false {
	background-color:#337ab7;
	color:white;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:pointer;    
}

/* Info */

.info_tabs_header
{
	position:absolute;
	top:80px;
	left:0px;
	right:0px;
}

#info_table
{
	position:absolute;
	bottom:30px;
	top:120px;
	left:0px;
	right:0px;
	overflow:auto;
}

#info_stats
{
	position:absolute;
	bottom:30px;
	top:120px;
	left:0px;
	right:0px;
	overflow:auto;
}

#info_stats_chart1
{
	height:100%;
	width:50%;
	float:left;
}

#info_stats_chart2
{
	height:100%;
	width:50%;
	float:left;
}

/* Connections */

.connection_details
{
	padding-bottom:3px !important;
	position:fixed;
	top:50px;
	right:5px;
    border: 1px solid black;
	clear:both;
	padding: 0 1em;
	overflow:auto;
	width:800px;	
	background-color:White;	
}

.connection_details_table
{
	overflow:auto;
	max-height:300px;
}



.topic_details
{
	padding-bottom:3px !important;
	position:fixed;
	top:50px;
	right:5px;
    border: 1px solid black;
	clear:both;
	padding: 0 1em;
	overflow:auto;
	width:700px;
	height:430px;	
	background-color:White;	
}

.topic_details_tabs_header
{
	position:absolute;
	top:10px;
	left:3px;
}

.topic_details_tabs
{
	padding-top:3px !important;
	position:absolute;
	top:48px;
	left:0px;
    border: 0px solid black;
	clear:both;
	bottom:40px;
	overflow:auto;
	right:0px;
}

.topic_details_table
{
	top:110px;
	overflow:auto;	
	height:300px;	
}

.topic_details_tabs_footer
{
	position:absolute;
	bottom:10px;
	left:3px;
}

/* Client Table */

.clientTable
{
	position:absolute;
	top:130px;
	bottom:10px;
	left:0px;
	right:0px;	
	overflow:auto;
}


.message_details
{
	padding-bottom:3px !important;
	position:absolute;
	top:50px;
	right:5px;
    border: 1px solid black;
	clear:both;
	padding: 0 1em;
	overflow:auto;
	width:800px;	
	height:400px;
	background-color:White;	
	z-index:1000;
}

.message_text
{
    border: 1px solid black;
	text-align:left;
	position:absolute;
	top:40px;
	bottom:205px;
	left:5px;
	right:5px;
	overflow:auto;
	background-color:White;	
}

.message_headers
{
    border: 1px solid black;
	text-align:left;
	position:absolute;
	top:200px;
	bottom:40px;
	left:5px;
	right:5px;
	overflow:auto;
	background-color:White;	
}

.message_footer
{
	text-align:center;
	position:absolute;
	bottom:10px;
	left:0px;
	right:0px;
	overflow:none;
	background-color:White;
}

/* Send Message */

.send_message_details
{
	padding-bottom:3px !important;
	position:absolute;
	top:50px;
	right:5px;
    border: 1px  solid black;
	clear:both;
	padding: 0 1em;
	overflow:auto;
	width:800px;	
	height:400px;
	background-color:White;
}


#send_message_details_headers
{
	position:absolute;
	border:0px solid  black;
	left:0px;
	right:0px;
	top:200px;
	bottom:40px;
	overflow:auto;
}

#send_message_details_footer
{
	position:absolute;
	bottom:5px;
	left:0px;
	right:0px;
	text-align:center;
}

/* Queue message list */

.queues_main
{
}

.queues_table
{
	position:absolute;
	overflow:auto; 
	bottom:300px;
	top:50px;
	left:0px;
	right:0px;
}

.queues_graph
{
	border-top:solid 1px #ccc;
	overflow:none;
	position:absolute;
	bottom:0px;
	height:300px;
	left:0px;
	right:0px;
}

.queues_queue_selector
{
	position:absolute;
	bottom:265px;
	height:30px;
	left:0px;
	right:0px;
	z-index:1;
}

.queue_details
{
	padding-bottom:3px !important;
	position:absolute !important;
	top:50px;
	right:5px;
    border: 1px solid black;
	clear:both;
	padding: 0 1em;
	overflow:hidden;
	width:800px;
	height:410px;	
	background-color:White;	
	z-index:10;
}

.queue_details_tabs_header
{
	position:absolute;
	top:10px;
	left:3px;
}

.queue_details_tabs
{
	padding-top:3px !important;
	position:absolute;
	top:48px;
	left:0px;
    border: 0px solid black;
	clear:both;
	bottom:40px;
	overflow:auto;
	right:0px;
}

.queue_details_table
{
	overflow:auto;
	top:110px;	
	height:300px;	
}

.queue_details_tabs_footer
{
	position:absolute;
	bottom:10px;
	left:3px;
}

.browsemessagesview
{
	padding-bottom:3px !important;
	position:fixed;
	top:70px;
	right:25px;
    border: 1px solid black;
	clear:both;
	padding: 0 1em;
	overflow:auto;
	width:800px;
	height:400px;	
	background-color:White;
	z-index:200;
}

.browsemessagetable
{
	position:absolute;
	left:0px;
	right:0px;
	bottom:30px;
	top:40px;
	overflow:auto;
}

.browsemessagefooter
{
	position:absolute;
	left:0px;
	right:0px;
	bottom:5px;
	text-align:center;
}

/* Send Message Tab */

#send_message_viarest_headers
{
	position:absolute;
	border:0px solid  black;
	left:0px;
	right:0px;
	top:240px;
	bottom:40px;
	overflow:auto;
}

#send_message_viarest_footer
{
	position:absolute;
	bottom:5px;
	left:0px;
	right:0px;
	text-align:center;
}
