<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">

        <script src="JQuery/jquery-1.8.3.js"></script>
        <script src="JQuery/jquery-ui.js"></script>
        <script src="AngularJS/angular-1.4.7/angular.js"></script>

				<script src="lib/d3.min.js"></script>
				<script src="lib/nv.d3.min.js"></script>
				<script src="lib/angular-nvd3.min.js"></script>	

        <script src="JS/AMQApp.js"></script>
        <script src="JS/Factories/AMQInfoFact.js"></script>
        <script src="JS/Factories/AMQClientFact.js"></script>
        <script src="JS/Factories/Base64Fact.js"></script>
        <script src="JS/Factories/httpRequestInterceptorFact.js"></script>

        <script src="JS/Controllers/TabsCtrl.js"></script>
        <script src="JS/Controllers/QueuesCtrl.js"></script>
        <script src="JS/Controllers/TopicsCtrl.js"></script>
        <script src="JS/Controllers/SubscribersCtrl.js"></script>
        <script src="JS/Controllers/ConnectionsCtrl.js"></script>
        <script src="JS/Controllers/ClientCtrl.js"></script>
        <script src="JS/Controllers/LoginCtrl.js"></script>
        <script src="CSS/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script src="lib/angular-toasty.min.js"></script>
        <script src="lib/stomp.js"></script>

        <link rel="stylesheet" type="text/css" href="CSS/AMQApp.css"></link>
        <link rel="stylesheet" type="text/css" href="CSS/bootstrap-3.3.5-dist/css/bootstrap.css"></link>
        <link rel="stylesheet" type="text/css" href="CSS/angular-toasty.min.css"></link>
		<link rel="stylesheet" type="text/css" href="CSS/nv.d3.min.css"></link>

    </head>
    <body>


        <div ng-app="AMQApp" class="AMQApp">	

						<div class="modal-content" id="login" ng-controller="LoginCtrl" ng-show="!amqInfo.connected">							
							 <h3 class="nomargin windowtitle">ActiveMQ Login</h3>
							  <table width="100%">
							      <tr>
							          <td>IP (Name)</td>
							          <td><input type="text" ng-model="amqInfo.brokerip" ></td>
							      </tr>
							      <tr>
							          <td>Port</td>
							          <td><input type="number" min="1" max="65556" ng-model="amqInfo.brokerport" ></td>
							      </tr>
							      <tr>
							          <td>Broker</td>
							          <td><input type="text" ng-model="amqInfo.brokername" ></td>
							      </tr>
							      <tr>
							          <td>&nbsp;</td>
							          <td></td>
							      </tr>
							      <tr>
							          <td>Login</td>
							          <td><input ng-model="amqInfo.login" type="text" value="" placeholder="Username"></td>
							      </tr>
							      <tr>
							          <td>Password</td>
							          <td><input ng-model="amqInfo.password" type="password" value="" placeholder="Password"></td>
							      </tr>
							  </table>
							  <input type="checkbox" ng-model="amqInfo.rememberMe"> Remember Me
							<img  src="./Images/ajax-loader.gif" >    
							<div class="login_footer" ng-show="!amqInfo.connecting">
							      <button class="btn btn-primary btn-sm" ng-click="logAMQ()">Connect</button>
							  </div>
							<div ng-include="Templates/Login.html">							
							</div>
						</div>
            

            <div id="tabs" ng-controller="TabsCtrl" ng-show="amqInfo.connected">	
								<div>
                	<div class="filterField" ng-show="currentTab.hasFilter">
	                    Filter:&nbsp;<input type="text" ng-model="filterField"  autofocus/>
	                </div>

									<nav class="navbar-default">
	                <div class="container-fluid">
	                    <div>
	                        <ul class="nav nav-pills ">
	                            <li ng-repeat="tab in tabs" 
	                                ng-class="{active:isActiveTab(tab.url)}" 
	                                ng-click="onClickTab(tab)"><a href="#">{{tab.title}}</a></li>
	                        </ul>
	                    </div>
	                </div>
									</nav>

	                <div id="mainView">
	                    <div ng-include="currentTab.url"></div>
	                </div>
	                <div id="footerView">
	                    <button class="btn btn-primary btn-sm" ng-click="refreshAll()">Refresh</button>
	                    <button class="btn btn-danger btn-sm" ng-click="disconnectAMQ()">Disconnect</button>
	                </div>
	            </div>
            	<div id="version">v0.72 November 2015 ({{amqInfo.brokerip}})<img ng-show="amqInfo.connecting" src="./Images/ajax-loader.gif" ></div>				
          	</div>

            <toasty></toasty>
            <div id="github"><a href="https://github.com/snuids/AMQC">Git Hub Repo</a></div>
        </div>
    </body>
</html>
