<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	
	<script src="JQuery/jquery-1.8.3.js"></script>
	<script src="JQuery/jquery-ui.js"></script>
	<script src="AngularJS/angular-1.4.7/angular.js"></script>
	<script src="JS/AMQApp.js"></script>
	<script src="JS/Factories/AMQInfoFact.js"></script>
	<script src="JS/Factories/AMQClientFact.js"></script>
	<script src="JS/Controllers/TabsCtrl.js"></script>
	<script src="JS/Controllers/QueuesCtrl.js"></script>
	<script src="JS/Controllers/TopicsCtrl.js"></script>
	<script src="JS/Controllers/SubscribersCtrl.js"></script>
	<script src="JS/Controllers/ConnectionsCtrl.js"></script>
	<script src="JS/Controllers/ClientCtrl.js"></script>
	<script src="JS/Controllers/LoginCtrl.js"></script>
	<script src="CSS/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="lib/stomp.js"></script>
	
	<link rel="stylesheet" type="text/css" href="CSS/AMQApp.css"></link>
	<link rel="stylesheet" type="text/css" href="CSS/bootstrap-3.3.5-dist/css/bootstrap.css"></link>

</head>
<body>
 
	
<div ng-app="AMQApp" class="AMQApp">	
	
	<div id="login" ng-controller="LoginCtrl" ng-show="!amqInfo.connected">
	   <h3 class="nomargin">ActiveMQ Login</h3>
			<table width="100%">
				<tr>
					<td>IP (Name)</td>
					<td><input type="text" ng-model="amqInfo.brokerip" ></td>
				</tr>
				<tr>
					<td>Port</td>
					<td><input type="number" min="1" max="65556" ng-model="amqInfo.brokerport" ></td>
				</tr>
				<tr>
					<td>Broker</td>
					<td><input type="text" ng-model="amqInfo.brokername" ></td>
				</tr>
				<tr>
						<td>&nbsp;</td>
						<td></td>
				</tr>
				<tr>
					<td>Login</td>
					<td><input type="text" value="" placeholder="Username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="text" value="" placeholder="Password"></td>
				</tr>
			</table>
			<div class="login_footer" ng-show="!amqInfo.connecting">
	     <button class="btn btn-primary btn-sm" ng-click="logAMQ()">Connect</button>
			</div>
	 </div>
	
    <div id="tabs" ng-controller="TabsCtrl" ng-show="amqInfo.connected">	
			<div class="filterField" ng-show="currentTab.hasFilter">
			Filter:&nbsp;<input type="text" ng-model="filterField"  autofocus/>
			</div>
	    
				 <div class="container-fluid">
					<div>
	         <ul class="nav nav-tabs ">
	            <li ng-repeat="tab in tabs" 
	                ng-class="{active:isActiveTab(tab.url)}" 
	                ng-click="onClickTab(tab)"><a href="#">{{tab.title}}</a></li>
	         </ul>
					</div>
				</div>
			
        <div id="mainView">
            <div ng-include="currentTab.url"></div>
        </div>
				<div id="footerView">
					<button class="btn btn-primary btn-sm" ng-show="!amqInfo.refreshing" ng-click="refreshAll()">Refresh</button>
					<button class="btn btn-danger btn-sm" ng-click="disconnectAMQ()">Disconnect</button>
				</div>
    </div>

		<div id="version">v0.66 November 2015</div>
</body>
</html>
