<div ng-controller="ClientCtrl">
	<H2 class="nomargin">STOMP Client<span ng-show="amqClient.client"> Messages({{amqClient.messagesCount}})</span></H2>

	<span ng-show="amqInfo.stompOnly">IP: <input ng-disabled="amqClient.client" ng-model="amqInfo.brokerip"></span>
	Port: <input type="number" min="1" max="65556" ng-disabled="amqClient.client" ng-model="amqClient.port">
	Login: <input class="small_input_text" type="text" ng-disabled="amqClient.client"  ng-model="amqClient.login">
	Password: <input class="small_input_text" type="password" ng-disabled="amqClient.client"  ng-model="amqClient.password">	
	Topics: <input type="text" ng-disabled="amqClient.client"  ng-model="amqClient.topics" placeholder="Topics separated by ,">
	Queues: <input type="text" ng-disabled="amqClient.client"  ng-model="amqClient.queues" placeholder="Queues separated by ,">
	
	<br/><br/>

	<button type="button" ng-show="(!amqClient.client)" ng-click="connect()" class="btn btn-primary btn-sm btn-xs">Connect</button>
	<button type="button" ng-show="amqClient.client" ng-click="disconnect()" class="btn btn-danger btn-sm btn-xs">Disconnect</button>
	<button type="button" ng-show="amqClient.messages.length>0" ng-click="clearTable()" class="btn btn-primary btn-sm btn-xs">Clear Table</button>
	
	<span ng-show="amqClient.messages.length>0">
	Filter 1:&nbsp;<input type="text" ng-model="filterFieldMessage"  placeholder="Use ! to reverse filter"/>
	</span>
	<span ng-show="amqClient.messages.length>0">
	Filter 2:&nbsp;<input type="text" ng-model="filterFieldMessage2" placeholder="Use ! to reverse filter"/>
	</span>
	
	<button type="button" ng-show="amqClient.client &amp;&amp; !sendMessageVisible"  ng-click="showSendMessage()" class="btn btn-primary btn-sm btn-xs">Send Message</button>
	
	<br/><br/>
	<div ng-show="amqClient.messages.length>0" class="clientTable">
		<table class="table table-striped table-bordered table-hover table-condensed small">
		<tr>
			<th>Date</th>
			<th>Destination</th>
			<th>Message</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="message in amqClient.messages | filter:filterFieldMessage | filter:filterFieldMessage2">
	      <td>{{message.reception | date:'HH:mm:ss.sss'}}</td>
		    <td>{{message.destination}}</td>
				<td>{{message.message | limitTo:60}}</td>
				<td><button type="button" ng-click="showDetails(message)" class="btn btn-primary btn-sm btn-xs">Details</button></td>		
		</tr>
	</table>
	</div>
	
	<div id="sendMessageView" ng-show="amqClient.client">			
      <div ng-include="'Templates/SendMessage.html'"></div>
  </div>
	
	<div id="clientMessageView" >
      <div ng-include="'Templates/Message.html'"></div>
  </div>
	
	
	
</div>