<div ng-controller="ClientCtrl">
	<H2 class="nomargin">Client<span ng-show="amqClient.client"> Messages({{amqClient.messages.length}})</span></H2>
	
	Port: <input type="number" min="1" max="65556" ng-disabled="amqClient.client" ng-model="amqClient.port">
	Login: <input type="text" ng-disabled="amqClient.client"  ng-model="amqClient.login">
	Password: <input type="text" ng-disabled="amqClient.client"  ng-model="amqClient.password">
	Topics: <input type="text" ng-disabled="amqClient.client"  ng-model="amqClient.topics">
	Queues: <input type="text" ng-disabled="amqClient.client"  ng-model="amqClient.queues">
	
	<br/><br/>
	

	<button type="button" ng-show="!amqClient.client" ng-click="connect()" class="btn btn-primary btn-sm btn-xs">Connect</button>
	<button type="button" ng-show="amqClient.client" ng-click="disconnect()" class="btn btn-primary btn-sm btn-xs">Disconnect</button>
	<button type="button" ng-show="amqClient.messages.length>0" ng-click="clearTable()" class="btn btn-primary btn-sm btn-xs">Clear Table</button>
	<span ng-show="amqClient.messages.length>0">
	Filter:&nbsp;<input type="text" ng-model="filterFieldMessage"  autofocus/>
	</span>
	
	<br/><br/>
	<div ng-show="amqClient.messages.length>0" class="clientTable">
		<table class="table table-striped table-bordered table-hover table-condensed">
		<tr>
			<th>Date</th>
			<th>Destination</th>
			<th>Message</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="message in amqClient.messages | filter:filterFieldMessage">
	      <td>{{message.reception | date:'HH:mm:ss'}}</td>
		    <td>{{message.destination}}</td>
				<td>{{message.message | limitTo:60}}</td>
				<td><button type="button" ng-click="showDetails(message)" class="btn btn-primary btn-sm btn-xs">Details</button></td>		
		</tr>
	</table>
	</div>
	
	<div id="clientMessageView" >
      <div ng-include="'Templates/Message.html'"></div>
  </div>
	
</div>