<H4>&nbsp;Queues and Topics Time Line</H4>


<div id="client_timeline_curves">
	<div class="client_timeline_onegraph" ng-repeat="graph in queuesAndTopics ">
		<div class="client_timeline_onegraph_canvas">
			<canvas id="can_{{graph.type}}_{{graph.name}}" class="client_timeline_canvas"></canvas>		
		</div>
		<div class="client_timeline_onegraph_title">{{graph.name}} ({{graph.type}} Max={{graph.max}})</div>
	</div>	
</div>
 
<div drag-me class="client_timeline_messages" ng-show="selectedMessages.length>0">
	<h4>&nbsp;Messages</h4>
	<div class="client_timeline_messages_table">
		<table class="table table-striped table-bordered table-hover table-condensed small">
			<tr>
				<th>Date</th>
				<th>Destination</th>
				<th>Message</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="message in selectedMessages">
		      <td>{{message.reception | date:'HH:mm:ss.sss'}}</td>
			    <td>{{message.destination}}</td>
					<td>{{message.message | limitTo:30}}</td>
					<td><button type="button" ng-click="showDetailsFromTimeLine(message)" class="btn btn-primary btn-sm btn-xs">Details</button></td>		
			</tr>
		</table>
	</div>
	<div class="client_timeline_messages_table_footer">
		<button class="btn btn-primary btn-sm" ng-click="closeCurveMessagesPicker()">Close</button>
	</div>
</div>

<div id="client_timeline_graph_footer">
	<button class="btn btn-primary btn-sm" ng-click="hideMessageGrapher()">Close</button>
</div>