<div class="panel panel-default">
	<div class="panel-body">
		<h4 class="nomargin">Version: <span class='label label-primary'>{{amqInfo.info['BrokerVersion']}}</span> Memory: <span class='label label-primary'>{{amqInfo.info['MemoryPercentUsage']/100 | percentage}}</span>
 Store: <span class='label label-primary'>{{amqInfo.info['StorePercentUsage']/100 | percentage}}</span> Temp: <span class='label label-primary'>{{amqInfo.info['TempPercentUsage']/100 | percentage}}</span></span> Up Time: <span class='label label-primary'>{{amqInfo.info['Uptime']}}</span>
		</h4>
	</div>
</div>

<div ng-controller="InfoCtrl">	
	<div class="info_tabs_header">
		<div class="container-fluid">
			<div>
				<ul class="nav nav-tabs">
					<li ng-repeat="tab in infoTabs" 
						ng-class="{active:isActiveTabInfo(tab)}"
						ng-click="onClickTabInfo(tab)"><a href="#">{{tab.title}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
	
	<div id="info_stats"  ng-show="currentTab.title!='Info'">
		<div id="info_stats_chart1">		
			<nvd3-line-chart
		    	data="amqInfo.connectionsData"
		        id="connectionsId"
		        xAxisTickFormat="xAxisTickFormatFunction()"
		        showXAxis="true"
		        showYAxis="true"
				interactive="true"
				useInteractiveGuideline="true"
				isArea="true"
				showLegend="true"
				objectequality="true">
		        	<svg></svg>
		    </nvd3-line-chart>
		</div>
		<div id="info_stats_chart2">
			<nvd3-line-chart
		    	data="amqInfo.messagesData"
		        id="messagesId"
		        xAxisTickFormat="xAxisTickFormatFunction()"
		        showXAxis="true"
		        showYAxis="true"
				interactive="true"
				isArea="false"
				showLegend="true"
				objectequality="true">
		        	<svg></svg>
		    </nvd3-line-chart>
		</div>
	</div>
	
	<div id="info_table" ng-show="currentTab.title=='Info'">
		
		<table class="table table-striped table-bordered table-hover table-condensed  small">
		<tr>
			<th>Value</th>
			<th>Property</th>
		</tr>
		<tr ng-repeat="ent in amqInfo.filteredInfo | filter:$parent.filterField">
		    <td>{{ent.key}}</td><td>{{ent.value}}</td>
		</tr>
		</table>
	<div>
		
	
</div>
