<h2 class="nomargin">Preferences</h2>

		<ul class="list-group">
		  <li class="list-group-item"><input type="checkbox" ng-change="savePrefs()" ng-model="prefs.hideAdvisoryQueues">
			  <span>&nbsp;Hide advisory queues and topics</span>
				
			</li>
		  <li class="list-group-item"><span>&nbsp;Automatically refresh ActiveMQ data every </span><input	type="number"  min="0" max="60"
				ng-model="prefs.autoRefreshInterval"
				ng-change="autoRefreshTinkered()"
				size="3"><span> seconds (0 == no refresh)</span>&nbsp;<button ng-show="autoRefreshChanged === true" type="button" ng-click="updateAutoRefresh()" class="btn btn-primary btn-sm btn-xs">Confirm change</button>
				<div ng-show="(prefs.autoRefreshInterval != 0) &amp;&amp; (prefs.autoRefreshInterval &lt; 3)">
					<br/>
					<div class="alert alert-warning"  role="alert">Do not refresh too fast if your connection to the broker is not good enough.</div>
				</div>
			</li>
			<li class="list-group-item">
				<span>
					<div class="text-center">Values displayed in Queues chart</div>

					<br/>
					
					<div class="row text-center">
						<div class="col-md-1">
							Enabled
						</div>
						<div class="col-md-1">
							Field
						</div>
						<div class="col-md-2">
							Processor
						</div>
					</div>
					
					<div class="row text-center" ng-repeat="(key, value) in prefs.queueChartFields">
						<div class="col-md-1">
							<input type="checkbox" ng-model="value.isSelected" ng-change="changedItem(key, value);">
						</div>
						<div class="col-md-1">
							{{ key }}
						</div>
						<div class="col-md-2">
							<select name="repeatSelect" id="repeatSelect" ng-model="value.procName" ng-change="changedItem(key, value);">
								<option ng-repeat="val in procs.availableProcessors()" value="{{val}}">{{val}}</option>
							</select>
						</div>
					</div>
					
					<p/>
				</span>
				<div class="center-text">
					<button ng-show="fieldsChanged === true" type="button" ng-click="savePrefs();" class="btn btn-primary btn-sm btn-xs">Confirm change</button>
				</div>
			</li>
		</ul>


