<div ng-controller="QueuesCtrl">

	<h4 class='nomargin'>Create a new Queue: <input type="text" ng-model="newQueueName" >&nbsp;	<button class="btn btn-primary btn-sm" ng-disabled="newQueueName.length==0" ng-click="createNewQueue()">Create</button></h4>

<button type="button" ng-click="delete()" confirm="Are you sure, {{name}}?">Delete</button>

	<div style='overflow:auto; height:300px;'>
		<table class="table table-striped table-bordered table-hover table-condensed small">
			<tr>
				<th class="{{th!='Name'?'text-center':'text-left'}}" ng-repeat="(i,th) in head" ng-class="selectedCls(i)" ng-click="changeSorting(i)">{{th}}<span table-header></span>
				</th>
				<th class="text-center">Actions</th>
			</tr>
			<tr ng-repeat="ent in amqInfo.filteredQueues | filter:filterField | orderBy:sort.column:sort.descending">
				<td ng-repeat="(key, value) in head" class="{{key!='Name'?'text-center':'text-left'}}">
					{{ent[key]}}
				</td>
				<td><div class="text-center"><button type="button" ng-click="showQueueDetails(ent)" class="btn btn-primary btn-sm btn-xs">Details</button></div></td>
			</tr>
		</table>
	</div>


	

	<br/>
	
	<div>		
		Display chart for queue: <select name="repeatSelect" id="repeatSelect" ng-model="selectedChartQueue" ng-change="setupChartData()">
			<option ng-repeat="(key, value) in amqInfo.queueStats" value="{{key}}">{{key}}</option>
		</select>
		<nvd3 options='options' data='data' api='api'></nvd3>
	</div>
	
	
	<div drag-me class="queue_details" ng-show="currentQueue!=null">
		<div class="topright">
			<h4>
				Queue:{{currentQueue.Name}}
			</h4>
		</div>
		<div class="queue_details_tabs_header">
			<div class="container-fluid">
				<div>
					<ul class="nav nav-tabs">
						<li ng-repeat="tab in detailsTabs" 
							ng-class="{active:isActiveTabDetails(tab.url)}"
							ng-show="tab.visible"
							ng-click="onClickTabDetails(tab)"><a href="#">{{tab.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div ng-show="currentDetailsTab.title=='Info'" class="queue_details_tabs">
			<div class="queue_details_table nodrag">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Key</th><th>Value</th>
					</tr>
					<tr ng-repeat="(key, value) in currentQueue">			
						<td>{{key}}</td><td>{{currentQueue[key]}}</td>
					</tr>
				</table>					
			</div>		
		</div>

		<div ng-show="currentDetailsTab.title=='Subscribers'" class="queue_details_tabs">
			<div class="queue_details_table nodrag">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>Client ID</th><th>Consumer ID</th>
					</tr>
					<tr ng-repeat="sub in subscribers">			
						<td>{{sub.ClientID}}</td><td>{{sub.ConsumerID}}</td>
					</tr>
				</table>					
			</div>
		</div>

		<div class="nodrag queue_details_tabs_footer" style="width:100%;text-align:center;">				
			<button type="button" ng-click="showQueueDetails(null)" class="btn btn-primary btn-sm btn-xs">Close</button>
			<button type="button" ng-click="browseQueue()" ng-show="currentQueue['QueueSize']>0" class="btn btn-primary btn-sm btn-xs">Browse</button>
			<button type="button" ng-click="purgeQueue()" ng-show="currentQueue['QueueSize']>0" class="btn btn-warning btn-sm btn-xs">Purge</button>
			<button type="button" ng-click="resetStatsQueue()" class="btn btn-warning btn-sm btn-xs">Reset Stats</button>
			<button type="button" ng-click="deleteQueue()" class="btn btn-danger btn-sm btn-xs">Delete</button>
		</div>
	
	</div>
	
	<div drag-me ng-show="queueBrowerVisible" class="browsemessagesview">		
		<H4>Queue:{{currentQueue.Name}}</H4>
		<div class="nodrag browsemessagetable">
			<table class="table table-striped table-bordered table-hover table-condensed small">
				<tr>
					<th>Date</th>
					<th>Message</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="message in amqInfo.queueMessages | filter:filterFieldMessage">
			      <td>{{message.JMSTimestamp | date:'HH:mm:ss.sss'}}</td>
						<td>{{message.Text | limitTo:60}}</td>
						<td><button type="button" ng-click="showQueueMessageDetails(message)" class="btn btn-primary btn-sm btn-xs">Details</button></td>		
			</tr>
		</table>
		</div>
		<div class="browsemessagefooter">		
			<button type="button" ng-click="closeBrowseQueue(null)" class="btn btn-primary btn-sm btn-xs">Close</button>
		</div>
	</div>
	
	<div id="clientMessageView" >
      <div ng-include="'Templates/Message.html'"></div>
  </div>
	
</div>