<div ng-controller="SendCtrl">
	<H3 class="nomargin">Send Message</span></H3>

	<H4 class='smallmargin'>Destination:&nbsp;&nbsp;<input  type="text" ng-model="selectedSendDestinationName" >&nbsp;
		<span  ng-repeat="dest in destinations">
				&nbsp;&nbsp;<input type="radio" ng-model="$parent.selectedSendDestination" name="$parent.selectedSendDestination" value="{{dest.name}}">&nbsp;&nbsp;{{dest.name}}
		</span></H4>
		
		<div>
			<textarea ng-model="textToSend" cols="80" rows="5"></textarea>
		</div>
		
		<span><class='smallmargin'>Header:&nbsp;&nbsp;<input class="nodrag" type="text" ng-model="headerName" >
		<class='smallmargin'>Value:&nbsp;&nbsp;<input class="nodrag" type="text" ng-model="headerValue" >
		<button ng-show="(headerName.length>0) &amp;&amp; (headerValue.length>0)" class="btn btn-primary btn-xs" 
				 ng-click="addHeader()">Add Header</button>		
		</span>
		
		<div id="send_message_viarest_headers">
			<table class="nodrag table table-striped table-bordered table-hover table-condensed small">
				<tr>
					<th>Header Name</th>
					<th>Value</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="head in sendMessageHeaders">
					<td>{{head.name}}</td>
					<td>{{head.value}}</td>
					<td><button class="nodrag btn btn-primary btn-xs" 
							 ng-click="removeHeader($index)">Remove</button></td>
				</tr>
			</table>		
		</div>

		<div id="send_message_viarest_footer">{{textToSend}}{{selectedSendDestination}}
			Repeat:&nbsp;<input class="nodrag" type="number"  min="1" max="10000" ng-model="repeatMessages">
			<button class="nodrag btn btn-warning btn-sm" 
				ng-disabled="(selectedSendDestinationName.length==0) || (textToSend.length==0)" ng-click="sendMessage()">Send</button>
			
		</div>
	
</div>