<div ng-controller="TopicsCtrl">
	<h4 class='nomargin'>
		Create a new Topic: <input type="text" ng-model="newTopicName">&nbsp; <button class="btn btn-primary btn-sm" ng-disabled="newTopicName.length==0" ng-click="createNewTopic()">Create</button>
	</h4>
	
	<div class='nomargin topics_buttons'><h4><button class="btn btn-primary btn-sm" ng-click="showTopicStats()">Topic Stats</button>
	</h4></div>
		
	<div class='queues_stats' ng-show="topicStatsVisible">
		<div ng-include="'Templates/QueueTopicStats.html'"></div>
	</div>
	
	<div class='topics_table'>
		<table class="table table-striped table-bordered table-hover table-condensed small">
			<tr>
				<th class="{{$index&gt;1?'text-center':'text-left'}}" ng-repeat="(i,th) in head" ng-class="selectedCls(i)" ng-click="changeSorting(i)">
					{{th}}<span table-header></span>
				</th>
			</tr>
			<tr ng-repeat="ent in amqInfo.filteredTopics | filter:filterField[currentTab.id] | orderBy:sort.column:sort.descending | filter: filterFunction">
				<td>
					{{ent.Name}}
				</td>
				<td class="text-center">
					{{ent.ConsumerCount}}
				</td>
				<td class="text-center">
					{{ent.BlockedSends}}
				</td>
				<td class="text-center">
					{{ent.EnqueueCount}}
				</td>
				<td class="text-center">
					{{ent.DequeueCount}}
				</td>
				<td class="text-center">
					{{ent.DispatchCount}}
				</td>
				<td class="text-center">
					{{ent.ExpiredCount}}
				</td>
				<td class="text-center">
					<button type="button" ng-click="showDetails(ent)" class="btn btn-primary btn-sm btn-xs">Details</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div drag-me class="topic_details" ng-show="amqInfo.currentTopic!=null">
		<div class="topright">
			<h4>
				Topic:{{amqInfo.currentTopic.Name}}
			</h4>
		</div>
		<div class="topic_details_tabs_header">
			<div class="container-fluid">
				<div>
					<ul class="nav nav-tabs">
						<li ng-repeat="tab in detailsTabs" ng-class="{active:isActiveTabDetails(tab.url)}" ng-show="tab.visible" ng-click="onClickTabDetails(tab)">
							<a href="#">{{tab.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-show="currentDetailsTab.title=='Info'" class="topic_details_tabs nodrag">
			<table class="table table-striped table-bordered table-hover table-condensed small">
				<tr>
					<th>
						Key
					</th>
					<th>
						Value
					</th>
				</tr>
				<tr ng-repeat="(key, value) in amqInfo.currentTopic">
					<td>
						{{key}}
					</td>
					<td>
						{{amqInfo.currentTopic[key]}}
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="currentDetailsTab.title=='Subscribers'" class="topic_details_tabs">
			<div class="topic_details_table nodrag">
				<table class="table table-striped table-bordered table-hover table-condensed small">
					<tr>
						<th>
							Client ID
						</th>
						<th>
							Consumer ID
						</th>
					</tr>
					<tr ng-repeat="sub in subscribers">
						<td>
							<a href="#" ng-click="showConnection(sub)">{{sub.ClientID}}</a>
						</td>
						<td>
							{{sub.ConsumerID}}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="nodrag topic_details_tabs_footer" style="width:100%;text-align:center;">
			<button type="button" ng-click="showDetails(null)" class="btn btn-primary btn-sm btn-xs">Close</button> <button type="button" ng-click="resetStatsTopic()" class="btn btn-warning btn-sm btn-xs">Reset Stats</button> <button type="button" ng-click="deleteTopic()" class="btn btn-danger btn-sm btn-xs">Delete</button>
		</div>
	</div>
</div>
